/* Reset de estilos para el cuerpo y el HTML */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Estilos para el contenedor principal */
.container {
  background-image: url('./img/Inicio\ pro.png'); /* Reemplaza con la ruta correcta a tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  background-position: left top; /* Ajusta la posición de la imagen */
  height: 100%; /* Establece la altura del contenedor al 100% de la ventana gráfica */
  display: flex;
  flex-direction: row; /* Cambia la dirección a horizontal para alinear el contenido a la izquierda */
  align-items: center; /* Centra verticalmente los contenidos */
}

/* Estilos para el formulario */
.form-container {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para mayor legibilidad */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* Ajusta el ancho del formulario según sea necesario */
  width: 50%; /* Por ejemplo, se ajusta al 50% del contenedor principal */
  margin-left: 20px; /* Espacio entre la imagen de fondo y el formulario */
}

/* Estilos para tu formulario y otros elementos */
