.App {
  text-align: center;
  margin-top: 0px;
}

.custom-search-bar {
  background-color: blue;
  color: white;
}

.custom-cards {
  background-color: red;
  border: 2px solid black;
}

body {
  background-image: url('./img/FondoV1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
